html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* Normally 100% is 16px we want the size to be 10px so we do 62.5% */
  background-color: rgb(240, 234, 226);
  color: saddlebrown;
  font-family: "Playfair Display", serif;
  font-size: medium;
  text-align: center;
  border-radius: 25px;
  flex-direction: row;
}
.title {
  font-size: 50px;
  text-align: center;
  margin-top: 25px;
}
.parent {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  height: 450px;
  margin: 2rem auto;
  padding: 15px;
}
.child {
  font-size: 2rem;
  width: 27%;
  border: 5px solid green;
  box-shadow: 1rem 1rem 1rem rgb(12, 85, 12);
}
.player {
  width: 80%;
  height: 70%;
  object-fit: cover;
}
