html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* Normally 100% is 16px we want the size to be 10px so we do 62.5% */
}
body {
  background-color: rgb(240, 234, 226);
  color: rgb(138, 69, 21);
  font-family: "Playfair Display", serif;
  font-size: large;
  text-align: center;
  border-radius: 25rem;
  flex-direction: row;
}
.title {
  font-size: 5rem;
  text-align: center;
  margin-top: 2.5rem;
  background-color: rgb(233, 222, 208);
  animation: test 4s;
  position: absolute;
}
.bio {
  font-size: 2rem;
  margin: 1rem;
  background-color: rgb(231, 217, 198);
}
.parent {
  border-radius: 3rem;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  margin: 1rem auto;
  padding: 3rem;
}
.child {
  font-size: 2.2rem;
  width: 27%;
  border: 5px solid rgb(1, 129, 1);
  box-shadow: 1rem 1rem 1rem rgb(53, 94, 53);
  transition: all 0.3s;
  margin: 3rem auto;
  height: 32rem;
}
.child:hover {
  transform: scale(1.1);
}
.image {
  width: 80%;
  height: 70%;
  object-fit: cover;
}
@media screen and (max-width: 800px) {
  .child {
    width: 45%;
  }
}
@media screen and (max-width: 600px) {
  .child {
    width: 80%;
  }
}
@keyframes test {
  
}
