html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* Normally 100% is 16px we want the size to be 10px so we do 62.5% */
  background-color: rgb(240, 234, 226);
  color: saddlebrown;
  font-family: "Playfair Display", serif;
}
.title {
  font-size: 50px;
  text-align: center;
  margin-top: 25px;
}
.bio {
  font-size: medium;
  text-align: center;
}
.parent {
  width: 95vw;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  height: 300px;
  margin: 2rem auto;
  padding: 15px;
  border-radius: 50px;
  box-shadow: ;
}
.one {
  border: 5px solid purple;
}
.two {
  border: 5px solid blue;
}
.three {
  border: 5px solid royalblue;
}
.caption {
  font-size: medium;
}
.child {
  font-size: 2rem;
  flex-grow: 1;
}
.player {
  width: 80%;
}
